@charset "utf-8";
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;500;600&display=swap');

.content.no-code-content {
  padding-bottom: 20px;
}
.guides {
    .header-intro {
      display: grid;
      grid-template-rows: 1fr 1fr;
      padding: 0 120px 24px;
  
      h4 {
        font-size: 34px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0.25px;
        text-align: left;
        color: $grey-900;
        margin-top: 0.8em;
      }
  
      h5 {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        color: $grey-600;
      }
  
    }

    h1, h2, h3, p, aside, table {
      margin: 0 120px;
      padding: 0;
    }

    h1 {
      font-size: 20px;
      font-weight: 600;
      line-height: 160%;
      padding: 0.9em;
      margin-bottom: $h1-margin-bottom;
      margin-top: 2em;
      border: 1px solid #E6E8F0;
      background-color: $grey-50;
    }

    h2 {
      color: $grey-900;
      padding: 40px 0 10px;
      border-bottom: 1px solid rgba(65, 73, 112, 0.2);
      margin-bottom: 24px;
    }

    h3 {
      padding: 16px 0;
    }
    p+p {
      padding-top: 24px;
    }

    h1.nav-title {
      @extend %nav-secondary-title;
      color: #626582;
      margin: 0; 
      border: none;
      background-color: inherit;
    }

    aside.notice, aside.warning, aside.error {
      padding: 12px;
      line-height: 1.6;
      display: flex;
      align-items: center;
      width: 50%;
    }

    code {
      line-height: 25px;
      color: #0C0E19;
    }

    .code-copy {
      border-radius: 1px;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      padding: 8px 16px;
      margin: 24px 0;

      .code-text-copy {
        justify-self: end;
        cursor: pointer;
        grid-column: 3;
        grid-row: 1;
        padding-top: 4px;
    
        &:hover {
          opacity: 0.8;
        }
      }
    }

    .card-box {
      display: grid;
      grid-template-columns: repeat(3,auto);
      column-gap: 24px;
      row-gap: 32px;
      padding: 32px 0;

      .card {
        border: 1px solid rgba(65, 73, 112, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        width: 282.67px;

        img {
          width: 100%;
        }
  
        .container {
          padding: 16px;
          
          h4 {
            @extend %principal-title-font;
            margin: 0;
            padding: 0 0 4px;
            color: $grey-800;
          }
          p {
            padding: 0;
            margin: 0;
            @extend %body2-font;
          }
        }
      }
    }
  

  }