@charset "utf-8";
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;500;600&display=swap');

.home {
  padding-left: 152px;
  padding-right: 152px;
  display: grid;


  h1 {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.25px;
    text-align: left;
    color: $blue-800;
    margin-top: 0.8em;
    background-color: transparent;
    border-color: transparent;
  }

  h2 {
    padding-left: 0;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 42px;
    letter-spacing: 0.15px;
    text-align: left;
    color: $blue-800;
    margin-top: 0.8em;
    background-color: transparent;
    border-bottom: 1px solid $grey-50;
  }

  .sub-text {
    padding-left: 0;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    color: $grey-600;
  }

  .sub-text-small {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $blue-800;
  }

  .card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 32px;
    padding: 32px 0;

    a {
      text-decoration: none;
    }

    .card {
      border: 1px solid rgba(65, 73, 112, 0.2);
      box-sizing: border-box;
      border-radius: 4px;

      img {
        width: 100%;
      }

      .container {
        padding: 16px;
        h4 {
          @extend %principal-title-font;
          margin: 0;
          padding: 0 0 4px;
          color: $grey-800;
        }

        p {
          padding: 0;
          margin: 0;
          @extend %body2-font;
        }
      }
    }
  }
}
