div#iubenda-cs-banner {
  font-size: 16px !important;
  font-family: 'Inter', sans-serif, -apple-system, sans-serif !important;
}

div#iubenda-cs-banner div.iubenda-cs-container {
  border-top: 1px solid #2f3244 !important;
}

div#iubenda-cs-banner .iubenda-banner-content {
  font-family: 'Inter', sans-serif, -apple-system, sans-serif !important;
  font-weight: 400 !important;
  color: #8389a6 !important;
  font-size: 14px !important;
}

div#iubenda-cs-title {
  color: #E5E6EC !important;
  font-size: 16px !important;
}

div#iubenda-cs-banner div.iubenda-cs-opt-group button {
  padding: 12px 32px !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
}

button.iubenda-cs-accept-btn {
  box-shadow: 1px 1px 3px 0 rgb(49, 255, 255 / .30), inset 0 0 0 1px hsl(0deg, 0%, 1 / .40);
  margin-left: 16px !important;
}

@media (min-width: 992px) {
  #iubenda-cs-banner.iubenda-cs-default div.iubenda-cs-rationale {
    max-width: 1200px !important;
    width: 100% !important;
  }
}