<header class="site-header">
  <a class="site-header-logo" href="https://developers.basistheory.com/"></a>
  <div class="documentation-links">
    <a class="documentation-link" href="https://developers.basistheory.com/getting-started">Get Started</a>
    <a class="documentation-link <%= current_page.data.title === 'Basis Theory API Reference' ? 'header-active' : '' %>" href="/">API Reference</a>
    <a class="documentation-link <%= current_page.data.title === 'Basis Theory Elements Reference' ? 'header-active' : '' %>" href="/elements">Elements</a>
    <a class="documentation-link <%= current_page.data.title === 'Basis Theory Encryption Reference' ? 'header-active' : '' %>" href="/encryption">Encryption</a>
  </div>
  <div class="portal-links">
    <a class="portal-sign-in" href="https://portal.basistheory.com">Sign In</a>
    <a class="portal-create-account" href="https://portal.basistheory.com/register">Create Account</a>
  </div>
</header>